ALTER TABLE task_management
ADD COLUMN reopened_at DATETIME NULL,
ADD COLUMN reopened_by INT NULL;

ALTER TABLE task_management
ADD CONSTRAINT fk_task_reopened_by
FOREIGN KEY (reopened_by) REFERENCES user(id)
ON DELETE SET NULL;
